.firstscreen{
  position: relative;
&__info{
  position: absolute;
  top: 100px;
  left: 50px;
}
  &__title{
    @include text(700, 56px, 68px, #F5F5F5);
    letter-spacing: 3.2px;
  }
  &__subtitle{
    @include text(600, 36px, 120%, #F5F5F5);
    margin: 42px 0 24px;
  }
  &__desc{
    @include text(500, 16px, 26px, #F5F5F5);
    margin-bottom: 32px;
  }
}